/*
* @Author: huangdeyaosi
* @Date:   2017-11-26 14:44:38
* @Last Modified by:   huangdeyaosi
* @Last Modified time: 2017-11-27 21:50:12
*/
body{
  position: relative;
  height: 100%;
  background-color: #fff;
}
li{
  list-style-type: none;
}
/* 固定头部 */
.lt-header {
  line-height: 44px;
background-color: #046691;


}

.lt-header .mui-title {
  color: #fff;
}

.lt-header .lt-search {
  color: #fff;
  line-height: 44px;
}


/* 固定底部 */
.lt-footer {
  background-color: #046691;
}
.lt-footer .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #929292;
}

.lt-footer .mui-item span[class^='fa']{

}
.lt-footer .mui-item  {
  color: #fff;
}

.lt-footer .mui-item.mui-active {
  color: orange;
}

.lt-footer .mui-item span[class^='mui']{
  display: block;
  text-align: center;
  font-size: 14px;
}
  /* 内容 */
  div.content{
	padding: 0;
  height: 100%;
	margin-top: 44px;
	margin-bottom: 50px;
}